h1{
    size: 50px;
}
body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
.word-style{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10% ;
}
.half-width img{
    margin-top: 40px;
    width: 80%;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px ;
    border-radius: 5px;
}
#top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.image-2 img{
    width: 80% ;
    padding: 100px;
}
#middle{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.para-2{
    width: 50%;
    padding: 150px;
}
#ex{
    text-align: center;
}